.AqiContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 15px 20px;
}

.AqiContainer-HorizontalBar {
  display: flex;
  flex-direction: row;
  height: 25%;
}

.AqiContainer-LeftInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.AqiContainer-LeftIcon {
  font-size: 1.7vw;
}

.AqiContainer-LeftText {
  font-size: .7vw;
  text-align: center;
}

.AqiContainer-RightInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 66%;
}

.AqiNumber {
  text-align: center;
  font-size: 1.7vw;
}

.AqiCategory {
  text-align: center;
  font-size: .7vw;
}

/* Mobile screens */
@media only screen and (max-width: 600px) {

}