.tileContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dailyForecastTile {
  flex: 1;
}

.dailyForecastWeatherIcon {
  font-size: 5.5vw;
  text-align: center;
}

.dailyForecastDayOfWeek {
  font-size: 1.6vw;
  text-align: center;
}

.dailyForecastTempContainer {
  text-align: center;
}

.dailyForecastTempContainer span{
  font-size: 1.5vw;
}


.dailyForecastPrecipContainer {
  text-align: center;
  font-size: 1.2vw;
}


/* Mobile screens */
@media only screen and (max-width: 600px) {

}