.DateContainer {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0 10px;
}

.DayOfWeek {
  font-size: 10vw;
}

.MonthAndDate {
  font-size: 10vw;
}

/* Mobile screens */
@media only screen and (max-width: 600px) {



  .DateContainer {
    display: flex;
    flex-direction: column;
  }




  .DayOfWeek {
    font-size: 14vw;
    text-align: center;
  }
  .MonthAndDate {
    font-size: 20vw;
    text-align: center;
  }
}