.DateContainer {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0 10px;
}

.DayOfWeek {
  font-size: 8vw;
  z-index: 2;
}

.MonthAndDate {
  font-size: 8vw;
  z-index: 2;
}

/* Medium screens */
@media only screen and (max-width: 1200px) {
  .TimeContainer {
    font-size: 15vw;
  }
}

/* Medium-small screens */
@media only screen and (max-width: 800px) {
  .TimeContainer {
    font-size: 20vw;
  }
}

/* Mobile screens */
@media only screen and (max-width: 600px) {

  .DayOfWeek {
    font-size: 10vw;

  }
  .MonthAndDate {
    font-size: 10vw;

  }
}