.DateContainer {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0 10px;
}

.DayOfWeek {
  font-size: 6vw;
}

.MonthAndDate {
  font-size: 6vw;
}

/* Mobile screens */
@media only screen and (max-width: 600px) {

  .DayOfWeek {
    font-size: 10vw;

  }
  .MonthAndDate {
    font-size: 10vw;

  }
}