.TimeContainer {
  font-size: 22vw;
  position: relative;
  top: 6vh;
}

/* Medium screens */
@media only screen and (max-width: 1200px) {
  .TimeContainer {
    font-size: 18vw;
  }
}

/* Medium-small screens */
@media only screen and (max-width: 800px) {
  .TimeContainer {
    font-size: 20vw;
  }
}

/* Mobile screens */
@media only screen and (max-width: 600px) {
  .TimeContainer {
    font-size: 20vh;
  }
}